/* htmlのサイズ */
.root_size{
  font-size: 20px;
}
/* bodyタグのフォント */
#body_font{
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
}
/* h1タグのフォント、サイズ */
.google_fonts{
  font-family: "Josefin Sans",sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 3px 2px 6px gray;
  text-decoration: underline;3px rgb(115, 115, 114);
}
/*見出しのカラー、ピンク */
.title01_color{
  color: pink;
}
/* 見出しのカラー、スカイブルー */
.title02_color{
  color: skyblue;
}
/* basic */
.basic p{
  font-weight: bold;
}
